@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  
  --color-primary: #0B80F4;    
  --color-secondary: #053B70;  
  --color-neutral: #F1F3F3;    
  --color-base-100: #FFFFFF;   
  --color-info: #2094f3;       
  --color-success: #009485;    
  --color-warning: #ff9900;    
  --color-error: #ff5724;      
}

*{
  font-family: "Poppins", sans-serif;
}
